/*2023 Copyright Kim Struve 2315-3 */

@use "./vendor/normalize";
@use "./partials/colors";
@use "./partials/typography";
@use "./partials/mixins";

/* global */
global {
    color: colors.$secondary-color;
    background-color: colors.$primary-color;
}

p {
    color: colors.$secondary-font-color;
    font-family: typography.$primary-font;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}
  
/* Header*/

/* Navigation */
nav ul {
  list-style: none;
  font-weight: lighter;
  cursor: pointer; /* Add a pointer on hover */
  display: flex;
  margin: 0;
  overflow: hidden;
  padding: 14px 16px;
  text-transform: uppercase;
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

nav.header ul {
    background-color: colors.$nav-header-background-color;
    font-family: typography.$nav-header-font;
    font-size: 14px;
}

nav.header ul li a {
    color: colors.$primary-color;
    font-family: typography.$nav-header-font;
    margin-left: 1rem;
}
  nav ul li:first-child {
    font-size: 18px;
    margin-left: 1rem;
    margin-right: auto;
}

/* unvisited link */
a:link {
    text-decoration-line: none;
}

/* visited link */
a:visited {
    text-decoration-line: none;
}
  
/* mouse over link */
a:hover {
    color: lightblue;
    text-decoration-line: none;
}
  
/* selected link */
a:active {
    text-decoration: underline;
}


/* body */

/* Hero Section */
/*Hero Title */
section.hero {
    h1{
        font-family: typography.$title-font;
        font-size: 48px;
        font-weight: bold;
        line-height: 60px;
        text-align: center;
        text-transform: uppercase;
    }
    h3 {
        @include mixins.theme-heading($theme-heading: primary-theme-color);
        color: $colors;
        font-family: typography.$heading-font;
        font-size: 48px;
        font-weight:lighter;
        line-height: 60px;
        text-align: center;
        text-decoration: none;
        text-transform: capitalize;
    }
    article {
        text-align: center;
    }
}

/* Hero Columns */
.left p {
        float: left;
        padding: 1rem;
}

.right img {
    float: right;
    padding: 1rem;
    width: 435px;
    height: 315px;
    }


aside {
    font-family: typography.$primary-font;
    text-align: center;
}

.about a {
    color: colors.$link-font-color; 
    font-family: typography.$link-font;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-decoration: underline;
    text-transform: uppercase;
}

/* footer */
nav.footer ul {
    background-color: colors.$nav-footer-background-color;
    font-family: typography.$nav-footer-font;
}    
  
nav.footer ul li a {
    color: colors.$primary-color;
    font-family: typography.$nav-footer-font;
    margin-left: 1rem;
}

/* li.hidelink a {
    color: black;
    text-decoration: none;
}

/*2023 Copyright Kim Struve */