/*2023 Copyright Kim Struve 2315-3 */

$primary-color: #fff;
$secondary-color: #414141;
$primary-font-color: #575757;
$heading-color:  #DB8D33;
$secondary-font-color: $heading-color;
$dark-background: $secondary-color;
$darker-background: #150300;
